@tailwind base;
@tailwind components;
@tailwind utilities;

.cool-text {
    background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    @apply font-semibold;
}

.btn-primary {
    @apply bg-indigo-500;
}

.btn-secondary {
    @apply bg-gray-200;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}