@tailwind base;
@tailwind components;
@tailwind utilities;

.cool-text {
    background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-primaryl {
    border-color: scale(#646CFF, lightness: 30%); 
}